@use "@styles/colors" as *;
@use "@styles/variables" as *;

.make-transparent-filter {
    .clicked {
        background-color: #EDEDED;
        color: #616161;
        transition: background-color 0.5s ease;
    }

    .input-filter {
    height: 18px;
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    justify-items: center;
    cursor: pointer;

    border: 1px solid $color-border;
    border-radius: $border-radius-main;
    font-size: $font-size-md;
    padding: $padding-main;
    transition: background-color 0.5s ease;

        .icon {
            width: 20px;
            height: 20px;
        }
    }
}
