$color-main-text: #C209C1;
$color-main-lighter-text: #E87EF1;
$color-border: #CBCBCB;
$color-footer-text: #848080;
$color-error-text: #9D0007;
$color-error-border: #9D0007;
$color-warning-text: #ff9966; 
$color-success-text: #158380;
$color-action-btns-background: #F5F5F5; 
$color-action-btns-selected: #FFFFFF;
$color-action-btns-selected-text: #920792;
$color-action-btns-hovered: #920792;
$color-action-btns-hovered-background: #F3EBF3;
$color-buy-more-credits: #158380;
$color-default-white: #FFFFFF;
$color-selector-text: #9E9E9E;
$color-disbaled-background: #EDEDED;
$color-h1-text: #616161;

// stroke
$color-stroke-property-text: #616161;
$color-stroke-value-background: #F7F7F7;
$color-stroke-value-border: #F2F2F2;

// disabled components
$color-selector-disabled-text: #BFBFBF;
$color-selector-disabled-background:#F7F7F7;
$color-selector-disabled-border:#D9D9D952;

$color-btn-disabled-background: #F5F5F552;
$color-btn-disabled-text: #CBCBCB;
$color-btn-disabled-border: #CBCBCB;

$color-picker-disabled-background: #F7F7F752;
$color-picker-disabled-text: #BFBFBF;
$color-picker-disabled-border: #D9D9D952;
