@use '@styles/variables' as *;
@use '@styles/colors' as *;

* {
  font-weight: $font-weight-main;
}

.root {
  padding: $padding-main;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 95vh;
}


h1 {
  font-size: $font-size-xxl;
  color: $color-h1-text;
  font-family: $font-gilroy-semi-bold;
}

h2 {
  font-size: $font-size-lg;
  font-family: $font-gilroy-medium;
  line-height: 24px;
  color: #000000;
}

h3 {
  font-size: $font-size-md;
  font-family: $font-gilroy-medium;
  line-height: 20px;
}

span {
  font-size: $font-size-base;
  font-family: $font-gilroy-semi-bold;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.sp-betwen {
  justify-content: space-between;
}

.sp-around {
  justify-content: space-around;
}

.g-5 {
  gap: $gap-small;
}

.g-10 {
  gap: $gap-medium;
}

.g-15 {
  gap: $gap-large;
}

.margin-top-minus-100 {
  margin-top: -100px;
}

.error-text {
  font-size: $font-size-sm;
  color: $color-error-text;
  margin: -6px 6px;
}

.warning-text {
  font-size: $font-size-sm;
  color: $color-warning-text;
  margin: -6px 6px;
}

.success-text {
  font-size: $font-size-sm;
  color: $color-success-text;
  margin: -6px 6px;
}

.disabled-btn {
  color: $color-btn-disabled-text !important;
  border: 1px solid $color-btn-disabled-border !important;
  background: $color-btn-disabled-background !important;
}

.disabled-picker {
  color: $color-picker-disabled-text !important;
  background: $color-picker-disabled-background !important;
}

.disabled-selector {
  color: $color-selector-disabled-text !important;
  border: 1px solid $color-selector-disabled-border !important;
  background: $color-selector-disabled-background !important;
} 

.error-border {
  border: 1px solid $color-error-border !important;
}

