@use "@styles/colors" as *;
@use "@styles/variables" as *;

.shadow-filter {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .clicked {
        background-color: #EDEDED;
        color: #616161;
        transition: background-color 0.5s ease;
    }
    
    .input-filter {
        height: 18px;
        width: 88%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        justify-items: center;
        cursor: pointer;
    
        border: 1px solid $color-border;
        border-radius: $border-radius-main;
        font-size: $font-size-md;
        padding: $padding-main;
        transition: background-color 0.5s ease;
    
        .icon {
            width: 20px;
            height: 20px;
        }
    }
    .hide-content-container * {
        box-sizing: border-box;
    }

    .hide-content-container {
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .filter-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

        }

        .property {
            font-family: $font-gilroy-semi-bold;
            font-size: $font-size-sm;
            color: $color-stroke-property-text;
        }

        .value-container {
            background-color: $color-stroke-value-background;
            border: 1px solid $color-stroke-value-border;
            padding: 8px;
            border-radius: 6px;
            display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;
            height: 22px;
            width: 32px;
            box-sizing: border-box;
        }
        
        .value {
            font-family: $font-gilroy-medium;
            font-size: $font-size-sm;
            color: $color-stroke-property-text;
        }
    }
      
}
