@use '@styles/variables' as *;
@use '@styles/colors' as *;

.change-api-key-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: visibility 0.3s, opacity 0.3s ease;
    z-index: 1;
    box-shadow: 0.86px 0.86px 3.5px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040;
   
    input { 
        box-sizing: border-box; 
    }
    
    .modal-container {
        display: flex;
        flex-direction: column;
        gap: $gap-large;
        background-color: #FFFFFF;
        padding: $padding-main;
        border-radius: $border-radius-main;
    }

    .close-container {
        display: flex;
        justify-content: flex-end;
        
        .close-icon {
            cursor: pointer;
        }
    }
    
    .input-container {
        max-width: 232px;
        display: flex;
        flex-direction: column;
        gap: $gap-large;
        justify-content: center;
        align-items: center;
    }

    .submit  {
        cursor: pointer;
        background-color: $color-buy-more-credits;
        width: 100%;
        max-width: 232px;
        height: 48px;
        padding: 0 12px;
        text-align: center;
        border: none;
        justify-content: flex-end;
        border-radius: 24px;
        color: $color-default-white;
    }

    .keyset-input {
        height: 44px;
        width: 100%;
        max-width: 232px;
        border: 1px solid $color-buy-more-credits;
        border-radius: $border-radius-main;
        font-size: $font-size-md;
        padding: $padding-main;
        transition: border-color 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
        
        &:hover {
            background-color: $color-disbaled-background;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
        }
    
        &:focus {
            background-color: $color-disbaled-background;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
            outline: none;
        }
    }

    .get-key {
        color: $color-buy-more-credits;
        font-family: $font-gilroy-medium;
        text-decoration: none;
    }
}