.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    height: 4px;
    border-radius: 100px !important;

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #FFFFFF;
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px;
    }

    &::-moz-range-thumb {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #FFFFFF;
        cursor: pointer;
        box-shadow: rgb(0 0 0 / 37%) 0px 1px 4px 0px;
    }
}

.slider-value {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}
